<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TradersConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TradersConsoleApp.Properties.Settings>
            <setting name="TraderNumber" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TraderPercentToKillOff" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="YearsToGo" serializeAs="String">
                <value>3</value>
            </setting>
        </TradersConsoleApp.Properties.Settings>
    </userSettings>
</configuration>